:root {
    --light-gray: #cfcfcf;
    --medium-gray: #858585;
    --dark-gray: #525252;
    --red: #f33030;
}

/* Navbar */

#view-toggle {
    position: absolute;
}
#navbar-logo {
    width: 50%;
    margin: 0 auto;
}

#cart-number {
    position: absolute;
    color: white;
    font-weight: bold;
    padding: 0px 3px 0px 4px;
    left: 15px;
    top: -8px;
    border-radius: 5px;
    background-color: var(--red);
    font-size: 0.75rem;
    opacity: .9
}

/* Dropdown */
.dropdown-item {
    text-transform: capitalize;
}

.dropdown-item:focus {
    background-color: var(--light-gray);
    outline: 5px auto var(--dark-gray);
}

/* Manager Components */
#manager-components {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}

.product-divs {
    position: relative;
    width: 50%;
    height: 20rem;
}

/* Create */
#create-products {
    border: 1px solid red;
    height: 20rem;
}

#create-products .toggle {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

/* View */
#view-products {
    border: 1px solid blue;
}

#view-products .toggle {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

/* Update */
#update-products {
    border: 1px solid green;
}

#update-products .toggle {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

/* Delete */
#delete-products {
    border: 1px solid orange;
}

#delete-products .toggle {
    position: absolute;
    left: 1rem;
    top: 1rem;
}